<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">
    <style>
        div.input-group {
            width: 20%;
            float: right;
        }

    </style>
    <title>책 목록</title>

    <script>
        function a(){
            location.href = "/book/getbybooktitle/" + f.book_title.value
        }
        function b(){
            location.href = "/book/getbybookauthor/" + f.book_author.value
        }
    </script>

</head>
<body>
     <h3>도서 목록</h3>
     <table class="table" id="list-table">
          <thead>
            <tr>
              <th scope="col">책 번호</th>
              <th scope="col">도서명</th>
              <th scope="col">저자</th>
              <th scope="col">책 타입</th>
              <th scope="col">가격</th>
              <th scope="col">재고</th>
              <th scope="col">리뷰</th>
              <th scope="col">구매/대여</th>
              {% if session.login_id == 'admin' %}
              <th scope="col">삭제</th>
              {% endif %}
            </tr>
          </thead>

          <tbody>
            {% for pb in pblist %}
            <tr>
              <td>{{pb.book_no}}</td>
              <td>{{pb.book_title}}</td>
              <td>{{pb.book_author}}</td>
              <td>{{pb.book_type}}</td>
              <td>{{'{:,}'.format(pb.book_price|int)}}</td>
              <td>{{'{:,}'.format(pb.book_amount|int)}}</td>
              <td><input type="button" value="리뷰" onclick="review()" class="btn-primary btn" style="border:0 solid black;"></td>
              <td><input type="button" value="구매/대여" class="btn-primary btn" style="border:0 solid black;"></td>
              {% if session.login_id == 'admin' %}
                <td><input type="button" value="삭제" class="btn-primary btn"style="border:0 solid black;"></td>
              {% endif %}
            </tr>
            {% endfor %}
          </tbody>
        </table>

    <form name="f">
        <div class="input-group">
            <input type="text" class="form-control" name="book_title" placeholder="도서명으로 검색" >
            <span class="input-group-btn">
                <button class="btn btn-secondary" type="button" onclick="a()">검색</button>
            </span>
        </div>
        <div class="input-group">
            <input type="text" class="form-control" name="book_author" placeholder="지은이로 검색">
            <span class="input-group-btn">
                <button class="btn btn-secondary" type="button" onclick="b()">검색</button>
            </span>
        </div>
    </form>


     <a href="/book/list">목록 전체보기</a><br/>
     <script>
         var table = document.querySelector('#list-table');
         table.onclick = function(e){
                if(e.target.value === "수정"){
                   book_no = e.target.parentNode.parentNode.children[0].textContent.trim();
                   location.href = "/book/edit/" + book_no

                }else if(e.target.value === "삭제"){
                   book_no = e.target.parentNode.parentNode.children[0].textContent.trim();
                   location.href = "/book/delete/" + book_no
                }else if(e.target.value === "리뷰"){
                   book_title = e.target.parentNode.parentNode.children[1].textContent.trim();
                   location.href = "/review/getbybooktitle/" + book_title
                }else if(e.target.value === "구매/대여"){
                   book_title = e.target.parentNode.parentNode.children[1].textContent.trim();
                   location.href = "/order/getbybooktitle/" + book_title
                }
         }
     </script>
<a href="/">메인페이지로</a>
</body>
</html>