<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">
    <title>주문 페이지</title>
</head>
<body>
<h3>주문 페이지</h3>
<table class="table">
          <thead>
            <tr>
              <th scope="col">주문자</th>
              <th scope="col">책 제목</th>
              <th scope="col">책 타입</th>
              <th scope="col">구매/대여</th>
              <th scope="col">주문</th>
            </tr>
          </thead>
    <form action="/order/add" method="post">
    <tbody>
        <tr>
            <td><input type="text" name="orderer" value="{{session.login_id}}" style="border:0 solid black;" readonly></td>
            <td><input type="text" name="book_title" value="{{book_title}}" style="border:0 solid black;" readonly></td>
            <td>
                <select name="book_type">
                    <option value="" disabled>--선택--</option>
                    <option value="종이책">종이책</option>
                    <option value="EBOOK">EBOOK</option>
                </select>
            </td>
            <td>
                <select name="buy_rental">
                    <option value="" disabled>--선택--</option>
                    <option value="구매">구매</option>
                    <option value="대여">대여</option>
                </select>
            </td>
            <td><input type="submit" value="주문" class="btn-primary btn" style="border:0 solid black;"></td></tr>
        </tr>
    </tbody>
    </form>
</table>

<a href="/">메인페이지로</a>
</body>
</html>